<!DOCTYPE html>
<meta charset="utf-8">
<html>
    <head>    	
        <title>ermuaTIC</title>
        <meta charset="UTF-8">           
        <link href="css/styles.css" rel="stylesheet" media="screen"/>         
    </head>
    <body>
        <div id="header">
        	<img id="logo-ermua" src="images/logo zuribeltzez-01.png">
        	<span id="hora">Resistencia</span>
        	<span id="fecha">Programa 3</span>
        </div>        
        <div id="content">
      
            <p class="mensaje">2. POR ÚLTIMO, CAMINAREMOS UN RATO</p>
            <p class="mensajeabajo">2 tandas de 30 minutos cada una</p>
            <a href="confirm-caminar.html">
            <img class="icono" src="images/iconos/iconos-51-02.png">
        </div>
            <a href="confirm-caminar.html"><p class="videodesc">Toca AQUÍ cuando hayas acabado</p></a>
            
        </div>  
        <div id="footer">
            <a href="pedales.html">
            <div class="texto">Paso ANTERIOR</div>
            </a>
            <div class="pausa"></div>
            <a href="index.html"><div class="salir">SALIR</div>
        </div>      
    </body>
</html>
