<!DOCTYPE html>
<meta charset="utf-8">
<html>
    <head>    	
        <title>ermuaTIC</title>
        <meta charset="UTF-8">           
        <link href="css/styles.css" rel="stylesheet" media="screen"/>         
    </head>
    <body>
        <div id="header">
        	<img id="logo-ermua" src="images/logo zuribeltzez-01.png">
        	<span id="hora">Flexibilidad</span>
        	<span id="fecha">Programa 3</span>
        </div>        
        <div id="content">
      
            <p class="mensaje">¿Has podido hacer?</p>
            <div id="video">
            <a href="ok-flexibilidad2.html"><p class="si">SI</p></a>
            <a href="contador-veces-flexibilidad2.html"><p class="no">NO</p></a>
        </div>
            <p class="videodesc">10 repeticiones/2 veces a cada lado</p>
      
        </div>  
         <div id="footer">
            <a href="flexibilidad2.html">
            <div class="texto">Paso ANTERIOR</div>
            </a>
            <div class="pausa"></div>
            <a href="index.html"><div class="salir">SALIR</div></a>
        </div>   



        </div>     
    </body>
</html>
