<!DOCTYPE html>
<meta charset="utf-8">
<html>
    <head>    	
        <title>ermuaTIC</title>
        <meta charset="UTF-8">           
        <link href="css/styles.css" rel="stylesheet" media="screen"/>         
    </head>
    <body>
        <div id="header">
        	<img id="logo-ermua" src="images/logo zuribeltzez-01.png">
        	<span id="hora">Fuerza</span>
        	<span id="fecha">Programa 3</span>
        </div>        
        <div id="content">
            <a href="forttras.html">

            <p class="mensaje">De acuerdo, pasemos al siguiente ejercicio.</p>
            <p class="mensaje"> Toca cuando estés listo</p>

        </a>
           
     
        </div>  
         <div id="footer">
            
            <div class="texto"></div>
            
            <div class="pausa"></div>
            <a href="index.html"><div class="salir">SALIR</div></a>
        </div>    
    </body>
</html>
