<!DOCTYPE html>
<meta charset="utf-8">
<html>
    <head>    	
        <title>ermuaTIC</title>
        <meta charset="UTF-8">           
        <link href="css/styles.css" rel="stylesheet" media="screen"/>         
    </head>
    <body>
        <div id="header">
        	<img id="logo-ermua" src="images/logo zuribeltzez-01.png">
        	<span id="hora">Flexibilidad</span>
        	<span id="fecha">Programa 3</span>
        </div>        
        <div id="content">
      
            <p class="mensaje">4. ESTIRAMIENTO DE LA PANTORRILLA</p>
            <p class="mensajeabajo">Entre 8 y 10 segundos</p>
            <div id="video">
            <iframe src="https://player.vimeo.com/video/151487084?autoplay=1&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
            <a href="confirm-estpan.html"><p class="videodesc">Toca AQUÍ cuando hayas acabado</p></a>
      
        </div>  
         <div id="footer">
            <a href="estatras.html">
              <div class="texto">Paso ANTERIOR</div>
            </a>
            <div class="pausa"></div>
            <a href="index.html"><div class="salir">SALIR</div></a>
        </div>    



        </div>     
    </body>
</html>
