<!DOCTYPE html>
<meta charset="utf-8">
<html>

    <head>    	
        <title>ermuaTIC_1</title>
        <meta charset="UTF-8">           
        <link href="css/styles.css" rel="stylesheet" media="screen"/>  
        <link rel="stylesheet" type="text/css" href="css/fondo.css">       
    </head>


    <body>
        <div id="header">
        	<img id="logo-ermua" src="images/logo zuribeltzez-01.png">
        	<span id="hora">Entrenamiento</span>
        	<span id="fecha">Programa 3</span>
        </div>     
        <div id="content">
      
            <p class="mensaje2">TOCA AQUÍ PARA EMPEZAR</p>
            <div id="perfecto">
            <a href="pantalla.html">
            <img class="icono" src="images/iconos/Play.png">
        </a>
            </div>
         <div id="footer">
            <p>&nbsp;</p>
        <div id="logos">
            
            <img src="images/patrocinio/patrocinio-37.png" />
            <img src="images/patrocinio/patrocinio-38.png" />
            <img src="images/patrocinio/patrocinio-39.png" />
            <img src="images/patrocinio/patrocinio-40.png" />
            <img src="images/patrocinio/patrocinio-41.png" />
            <img src="images/patrocinio/patrocinio-42.png" />

        </div>  
        <p>&nbsp;</p>
            <a href="marcha.html">
            <div class="texto"></div>
            </a>
             
    </body>

</html>