<!DOCTYPE html>
<meta charset="utf-8">
<html>
    <head>    	
        <title>ermuaTIC</title>
        <meta charset="UTF-8">           
        <link href="css/styles.css" rel="stylesheet" media="screen"/>         
    </head>
    <body>
        <div id="header">
        	<img id="logo-ermua" src="images/logo zuribeltzez-01.png">
        	<span id="hora">Entrenamiento</span>
        	<span id="fecha">Programa 3</span>
        </div>        
        <div id="content">
            <p class="mensaje">De acuerdo, toca la copa cuando estés listo</p>
            <a href="calentamiento.html"><img class="icono" src="images/iconos/iconos-35.png"></a>
            <p class="programa">Programa 3</p>
            <a href="calentamiento.html">
            <img class="progress" src="images/iconos/iconos-45.png">
      <a href="calentamiento.html">
        </div>  
         <div id="footer">
            <a href="index.html">
           <div class="texto">Paso ANTERIOR</div>
            </a>
            <div class="pausa"></div>
            <a href="index.html"><div class="salir">SALIR</div></a>
        </div>    
    </body>
</html>
